header {
    background-color: $color-principal;
    height: 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;

    h1 {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    nav {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

.navbar li a:hover {
    color: black;
    text-decoration: underline;
}

li {
    margin: 0 20px;

    &:first-child {
        margin-left: 0;
    }
}

a {
    text-decoration: none;
}