.eclipse {
    border-radius: 50%;
    width: 20%;
    height: 200px;
    background-color: #7C96AB;
    padding-top: 20px;
}

.comentario {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    font-size: 30px;
}